{"swagger":"2.0","info":{"description":"This page lists all the customer facing rest apis for user management","version":"V1","title":"User REST APIs for Customers"},"host":"api.access.redhat.com","basePath":"/account","tags":[{"name":"users","description":"User APIs"}],"paths":{"/v1/accounts":{"get":{"tags":["users"],"summary":"List Account Information","description":"Get account details of current user","operationId":"getAccountDetailsUsingGET","produces":["application/json"],"parameters":[{"name":"firstResultIndex","in":"query","description":"firstResultIndex","required":false,"type":"integer","default":0,"format":"int32"},{"name":"maxResults","in":"query","description":"maxResults","required":false,"type":"integer","default":100,"format":"int32"}],"responses":{"200":{"description":"Account details","schema":{"$ref":"#/definitions/AccountDetailsResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}},"/v1/accounts/{accountId}/users":{"get":{"tags":["users"],"summary":"List Users","description":"List all the users under the account. Only Org Admins are allowed to list all users under their account.\nFor large accounts, it is advisable to use pagination parameters to limit the result set and to make the api call more efficient.\nResult set can also be filtered by requesting only enabled or disabled users as per requirement using the status parameter.","operationId":"listUsersUsingGET","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"firstResultIndex","in":"query","description":"firstResultIndex","required":false,"type":"integer","default":0,"format":"int32"},{"name":"maxResults","in":"query","description":"maxResults","required":false,"type":"integer","default":100,"format":"int32"},{"name":"status","in":"query","description":"status","required":true,"type":"string","default":"enabled","allowEmptyValue":false,"enum":["enabled","disabled","any"]}],"responses":{"200":{"description":"List of users in organization","schema":{"$ref":"#/definitions/ListUsersResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Unexpected/system error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]},"post":{"tags":["users"],"summary":"Create User","description":"Create a new user under the account. Only Org Admins are allowed to create new users under their account.\nIt is advisable to validate input data by setting the validateUser flag to `true`. This will validate all the input values and will return validations errors with data, if any.\nIf there are no validation errors, a 204 response will be returned. If validation is successful, data can be saved by setting validateUser flag to `false`.","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"createUserRequest","description":"createUserRequest","required":true,"schema":{"$ref":"#/definitions/CreateUserRequestV1"}},{"name":"validateUser","in":"query","description":"validateUser","required":true,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false}],"responses":{"200":{"description":"User details created successfully","schema":{"$ref":"#/definitions/UserDetailsResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}},"/v1/accounts/{accountId}/users/invite":{"post":{"tags":["users"],"summary":"Invite Users","description":"Invite new users to join the account. Only Org Admins are allowed to invite new users to join their account.","operationId":"inviteUsersUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"in":"body","name":"inviteUsersRequest","description":"inviteUsersRequest","required":true,"schema":{"$ref":"#/definitions/InviteUsersRequestV1"}}],"responses":{"200":{"description":"User invitation sent successfully","schema":{"$ref":"#/definitions/InviteUsersResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Unexpected/system error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}},"/v1/accounts/{accountId}/users/{id}":{"get":{"tags":["users"],"summary":"Get User Details","description":"Get details of a user under the account. Org Admins are allowed to view details of all users under their account. Non Org Admins can view details of only their user.","operationId":"getUserDetailsUsingGET","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"User details","schema":{"$ref":"#/definitions/UserDetailsResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Unexpected/system error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]},"post":{"tags":["users"],"summary":"Update User Details","description":"Update details of a user under the account. Org Admins are allowed to update email, roles and permissions of users under their org.\nUser details like first name, last name, salutation, address and phone can only be updated by individual users.","operationId":"updateUserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"updateUserRequest","description":"updateUserRequest","required":true,"schema":{"$ref":"#/definitions/UpdateUserRequestV1"}}],"responses":{"200":{"description":"User updated successfully","schema":{"$ref":"#/definitions/UserDetailsResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}},"/v1/accounts/{accountId}/users/{id}/roles":{"get":{"tags":["users"],"summary":"Get Roles Associated With User","description":"Get all roles associated with a user under the account. Org Admins are allowed to view roles of all users under their account. Non Org Admins can view roles assigned only to their user.","operationId":"getUserRolesUsingGET","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"Get all roles associated with a user","schema":{"$ref":"#/definitions/UserRolesResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]},"post":{"tags":["users"],"summary":"Assign Role To User","description":"Assign a new role to a user under the account. Only Org Admins are allowed to assign roles to users under their account.","operationId":"assignUserRoleUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"roleRequest","description":"roleRequest","required":true,"schema":{"$ref":"#/definitions/AddRoleRequestV1"}}],"responses":{"200":{"description":"Role added successfully to user","schema":{"$ref":"#/definitions/UserRolesResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]},"delete":{"tags":["users"],"summary":"Remove Role From User","description":"Remove a role associated with a user under the account. Only Org Admins are allowed to remove roles from users under their account.","operationId":"removeUserRoleUsingDELETE","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"roleRequest","description":"roleRequest","required":true,"schema":{"$ref":"#/definitions/RemoveRoleRequestV1"}}],"responses":{"200":{"description":"Role removed successfully from user","schema":{"$ref":"#/definitions/UserRolesResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}},"/v1/accounts/{accountId}/users/{id}/status":{"get":{"tags":["users"],"summary":"Get User Status","description":"Get current status of a user under the account. Org Admins are allowed to view status of all users under their account. Non Org Admins can view status of only their user.","operationId":"getUserStatusUsingGET","produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"User Status","schema":{"$ref":"#/definitions/UserStatusResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Unexpected/system error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]},"post":{"tags":["users"],"summary":"Update User Status","description":"Update status of the user under the account. Only Org Admins are allowed to update status of users  under their account","operationId":"updateUserStatusUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"statusRequest","description":"statusRequest","required":true,"schema":{"$ref":"#/definitions/UpdateUserStatusRequestV1"}}],"responses":{"200":{"description":"User Status updated successfully","schema":{"$ref":"#/definitions/UserStatusResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}},"/v1/user":{"get":{"tags":["users"],"summary":"Get Current User's Personal Information","description":"Get personal information of the current user.","operationId":"gtPersonalInformationUsingGET","produces":["application/json"],"responses":{"200":{"description":"The current users personal information","schema":{"$ref":"#/definitions/PersonalInformationResponseV1"}},"400":{"description":"Malformed request.","schema":{"$ref":"#/definitions/ApiErrorV1"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/ApiErrorV1"}}},"security":[{"apiKey":["global"]}]}}},"securityDefinitions":{"apiKey":{"type":"apiKey","name":"Authorization","in":"header"}},"definitions":{"AccountDetailV1":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"}},"title":"AccountDetailV1"},"AccountDetailsResponseV1":{"type":"object","properties":{"body":{"type":"array","items":{"$ref":"#/definitions/AccountDetailV1"}}},"title":"AccountDetailsResponseV1"},"AddRoleRequestV1":{"type":"object","properties":{"role":{"type":"string","enum":["organization_administrator"]}},"title":"AddRoleRequestV1"},"AddressV1":{"type":"object","properties":{"city":{"type":"string"},"country":{"type":"string"},"county":{"type":"string"},"state":{"type":"string"},"streets":{"type":"array","items":{"type":"string"}},"zipCode":{"type":"string"}},"title":"AddressV1"},"ApiErrorV1":{"type":"object","properties":{"detail":{"type":"string"},"instance":{"type":"string"},"parameters":{"type":"object"},"status":{"type":"integer","format":"int32"},"title":{"type":"string"},"type":{"type":"string"}},"title":"ApiErrorV1"},"CreateUserRequestV1":{"type":"object","properties":{"address":{"$ref":"#/definitions/AddressV1"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"permissions":{"type":"array","items":{"type":"string","enum":["portal_download","portal_system_management","portal_manage_subscriptions","portal_manage_cases"]}},"phone":{"type":"string"},"roles":{"type":"array","items":{"type":"string","enum":["organization_administrator"]}},"salutation":{"type":"string"},"username":{"type":"string"}},"title":"CreateUserRequestV1"},"InviteUserV1":{"type":"object","properties":{"status":{"type":"string"}},"title":"InviteUserV1"},"InviteUsersRequestV1":{"type":"object","properties":{"emails":{"type":"array","items":{"type":"string"}},"localeCode":{"type":"string"},"permissions":{"type":"array","items":{"type":"string","enum":["portal_download","portal_system_management","portal_manage_subscriptions","portal_manage_cases"]}},"roles":{"type":"array","items":{"type":"string","enum":["organization_administrator"]}}},"title":"InviteUsersRequestV1"},"InviteUsersResponseV1":{"type":"object","properties":{"body":{"$ref":"#/definitions/InviteUserV1"}},"title":"InviteUsersResponseV1"},"ListUsersResponseV1":{"type":"object","properties":{"body":{"type":"array","items":{"$ref":"#/definitions/UserSummaryV1"}}},"title":"ListUsersResponseV1"},"PersonalInformationResponseV1":{"type":"object","properties":{"body":{"$ref":"#/definitions/UserV1"}},"title":"PersonalInformationResponseV1"},"RemoveRoleRequestV1":{"type":"object","properties":{"role":{"type":"string","enum":["organization_administrator"]}},"title":"RemoveRoleRequestV1"},"UpdateUserRequestV1":{"type":"object","properties":{"address":{"$ref":"#/definitions/AddressV1"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"permissions":{"type":"array","items":{"type":"string","enum":["portal_download","portal_system_management","portal_manage_subscriptions","portal_manage_cases"]}},"phone":{"type":"string"},"roles":{"type":"array","items":{"type":"string","enum":["organization_administrator"]}},"salutation":{"type":"string"}},"title":"UpdateUserRequestV1"},"UpdateUserStatusRequestV1":{"type":"object","properties":{"status":{"type":"string","enum":["enabled","disabled"]}},"title":"UpdateUserStatusRequestV1"},"UserDetailV1":{"type":"object","properties":{"address":{"$ref":"#/definitions/AddressV1"},"email":{"type":"string"},"firstName":{"type":"string"},"id":{"type":"string"},"lastName":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"salutation":{"type":"string"},"status":{"type":"string"},"username":{"type":"string"}},"title":"UserDetailV1"},"UserDetailsResponseV1":{"type":"object","properties":{"body":{"$ref":"#/definitions/UserDetailV1"}},"title":"UserDetailsResponseV1"},"UserRolesResponseV1":{"type":"object","properties":{"body":{"$ref":"#/definitions/UserRolesV1"}},"title":"UserRolesResponseV1"},"UserRolesV1":{"type":"object","properties":{"roles":{"type":"array","items":{"type":"string"}}},"title":"UserRolesV1"},"UserStatusResponseV1":{"type":"object","properties":{"body":{"$ref":"#/definitions/UserStatusV1"}},"title":"UserStatusResponseV1"},"UserStatusV1":{"type":"object","properties":{"status":{"type":"string"}},"title":"UserStatusV1"},"UserSummaryV1":{"type":"object","properties":{"user":{"$ref":"#/definitions/UserV1"}},"title":"UserSummaryV1"},"UserV1":{"type":"object","properties":{"email":{"type":"string"},"firstName":{"type":"string"},"id":{"type":"string"},"lastName":{"type":"string"},"salutation":{"type":"string"},"status":{"type":"string"},"username":{"type":"string"}},"title":"UserV1"}}}